/** DIMENSIONS **/

body {
  --sketchzone-mono: monospace;
  --sketchzone-ui: sans-serif;

  --sketchzone-radius: 8px;
  --sketchzone-button-size: 2rem;

  --sketchzone-outer-padding: 12px;
  --sketchzone-small-padding: 8px;
  --sketchzone-large-padding: 16px;
  --sketchzone-tab-bottom-padding: 10px;
  --sketchzone-fixed-padding: 16px;

  --sketchzone-outer-padding-narrow: 4px;
  --sketchzone-small-padding-narrow: 6px;
  --sketchzone-large-padding-narrow: 10px;

  --sketchzone-sketch-height: calc(
    100vh - 2 * var(--sketchzone-outer-padding) - 2 * var(--sketchzone-small-padding) -
      var(--sketchzone-button-size) - var(--sketchzone-tab-bottom-padding)
  );
}
@media (max-width: 650px) {
  body {
    --sketchzone-outer-padding: var(--sketchzone-outer-padding-narrow);
    --sketchzone-small-padding: var(--sketchzone-small-padding-narrow);
    --sketchzone-large-padding: var(--sketchzone-large-padding-narrow);
  }
}

/** THEMES **/

body {
  /**** Dark mode ****/
  /* Zone 1 is the area where config and codemirror lives */
  --sketchzone-dark-1-background: oklch(27% 0 0);
  --sketchzone-dark-1-text: oklch(67% 0 0);
  --sketchzone-dark-1-active-button-background: oklch(32% 0 0);
  --sketchzone-dark-1-active-button-text: oklch(72% 0 0);

  /* Zone 2 is the desaturated area where the tab switcher lives */
  --sketchzone-dark-2-background: oklch(37% 0 0);
  --sketchzone-dark-2-text: oklch(77% 0 0);
  --sketchzone-dark-2-active-button-background: oklch(42% 0 0);
  --sketchzone-dark-2-active-button-text: oklch(82% 0 0);

  /* Color of the modal background and drop shadows */
  --sketchzone-dark-shadow: oklch(72% 0 0);
  --sketchzone-dark-overlay: oklch(72% 0 0 / 30%);

  /**** Light mode ****/
  --sketchzone-light-1-background: oklch(97% 0 0);
  --sketchzone-light-1-text: oklch(57% 0 0);
  --sketchzone-light-1-active-button-background: oklch(92% 0 0);
  --sketchzone-light-1-active-button-text: oklch(52% 0 0);

  --sketchzone-light-2-background: oklch(87% 0 0);
  --sketchzone-light-2-text: oklch(47% 0 0);
  --sketchzone-light-2-active-button-background: oklch(82% 0 0);
  --sketchzone-light-2-active-button-text: oklch(42% 0 0);

  --sketchzone-light-shadow: oklch(52% 0 0);
  --sketchzone-light-overlay: oklch(52% 0 0 / 30%);

  /**** Calculated ****/
  --sketchzone-box-shadow: 0 0 0.3rem 0 var(--sketchzone-shadow);
}
/* Light mode as a default */
body {
  --sketchzone-1-background: var(--sketchzone-light-1-background);
  --sketchzone-1-text: var(--sketchzone-light-1-text);
  --sketchzone-1-active-button-background: var(--sketchzone-light-1-active-button-background);
  --sketchzone-1-active-button-text: var(--sketchzone-light-1-active-button-text);

  --sketchzone-2-background: var(--sketchzone-light-2-background);
  --sketchzone-2-text: var(--sketchzone-light-2-text);
  --sketchzone-2-active-button-background: var(--sketchzone-light-2-active-button-background);
  --sketchzone-2-active-button-text: var(--sketchzone-light-2-active-button-text);

  --sketchzone-shadow: var(--sketchzone-light-shadow);
  --sketchzone-overlay: var(--sketchzone-light-overlay);
}

/* Dark mode via media query */
@media (prefers-color-scheme: dark) {
  body {
    --sketchzone-1-background: var(--sketchzone-dark-1-background);
    --sketchzone-1-text: var(--sketchzone-dark-1-text);
    --sketchzone-1-active-button-background: var(--sketchzone-dark-1-active-button-background);
    --sketchzone-1-active-button-text: var(--sketchzone-dark-1-active-button-text);

    --sketchzone-2-background: var(--sketchzone-dark-2-background);
    --sketchzone-2-text: var(--sketchzone-dark-2-text);
    --sketchzone-2-active-button-background: var(--sketchzone-dark-2-active-button-background);
    --sketchzone-2-active-button-text: var(--sketchzone-dark-2-active-button-text);

    --sketchzone-shadow: var(--sketchzone-dark-shadow);
    --sketchzone-overlay: var(--sketchzone-dark-overlay);
  }
}

/* Light mode via explicit selection */
body.theme-light {
  --sketchzone-1-background: var(--sketchzone-light-1-background);
  --sketchzone-1-text: var(--sketchzone-light-1-text);
  --sketchzone-1-active-button-background: var(--sketchzone-light-1-active-button-background);
  --sketchzone-1-active-button-text: var(--sketchzone-light-1-active-button-text);

  --sketchzone-2-background: var(--sketchzone-light-2-background);
  --sketchzone-2-text: var(--sketchzone-light-2-text);
  --sketchzone-2-active-button-background: var(--sketchzone-light-2-active-button-background);
  --sketchzone-2-active-button-text: var(--sketchzone-light-2-active-button-text);

  --sketchzone-shadow: var(--sketchzone-light-shadow);
  --sketchzone-overlay: var(--sketchzone-light-overlay);
}

/* Dark mode via explicit selection */
body.theme-dark {
  --sketchzone-1-background: var(--sketchzone-dark-1-background);
  --sketchzone-1-text: var(--sketchzone-dark-1-text);
  --sketchzone-1-active-button-background: var(--sketchzone-dark-1-active-button-background);
  --sketchzone-1-active-button-text: var(--sketchzone-dark-1-active-button-text);

  --sketchzone-2-background: var(--sketchzone-dark-2-background);
  --sketchzone-2-text: var(--sketchzone-dark-2-text);
  --sketchzone-2-active-button-background: var(--sketchzone-dark-2-active-button-background);
  --sketchzone-2-active-button-text: var(--sketchzone-dark-2-active-button-text);

  --sketchzone-shadow: var(--sketchzone-dark-shadow);
  --sketchzone-overlay: var(--sketchzone-dark-overlay);
}

/** LAYOUT **/

/* Roots - body and main */
body {
  font-family: var(--sketchzone-ui);
  background-color: var(--sketchzone-1-background);
  color: var(--sketchzone-1-text);

  /* This gets overwritten by JavaScript */
  --sketchzone-text-editor-panel-width: 1fr;
}
main {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: calc(var(--sketchzone-button-size) + 3 * var(--sketchzone-small-padding)) 1fr;
}

/* Buttons
 * The default behavior of buttons is to use the zone 2 background, which makes the
 * buttons very obvious. By setting .zone1 on a parent element, buttons become the same
 * color as the zone1 background, which is desirable for situations like the left-had
 * bar and the inspector controller where the context makes the fact that this is a 
 * button group obvious enough. */
button {
  border: 0;
  border-radius: var(--sketchzone-radius);
  height: var(--sketchzone-button-size);
  padding-inline: var(--sketchzone-small-padding);
  background-color: var(--sketchzone-2-background);
  color: var(--sketchzone-2-text);
  display: flex;
  align-items: center;
  gap: var(--sketchzone-small-padding);
}
button:hover {
  background-color: var(--sketchzone-2-active-button-background);
  color: var(--sketchzone-2-active-button-text);
}
.zone1 button {
  background-color: var(--sketchzone-1-background);
  color: var(--sketchzone-1-text);
}
.zone1 button:hover {
  background-color: var(--sketchzone-1-active-button-background);
  color: var(--sketchzone-1-active-button-text);
}

/* Config area outside of the rounded rect in zone 1 */
#sketchzone-config {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: var(--sketchzone-small-padding);
  height: 100%;
  padding: var(--sketchzone-small-padding);
  align-items: start;
}

.sketchzone-subconfig {
  display: grid;
  gap: var(--sketchzone-small-padding);
}
.sketchzone-subconfig button {
  width: calc(var(--sketchzone-button-size) + var(--sketchzone-small-padding));
  height: calc(var(--sketchzone-button-size) + var(--sketchzone-small-padding));
}
.sketchzone-subconfig svg {
  margin: auto;
}
.sketchzone-config-load-selections {
  overflow-y: scroll;
}
.sketchzone-config-load-selections button {
  padding-block: var(--sketchzone-small-padding);
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
.sketchzone-config-load-selections button div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
  text-align: left;
}
.sketchzone-config-load-selections button div.time {
  font-size: 0.8rem;
  font-style: italic;
}
@media (prefers-color-scheme: dark) {
  #sketchzone-config-to-dark {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  #sketchzone-config-to-light {
    display: none;
  }
}
.theme-dark #sketchzone-config-to-light {
  display: initial;
}
.theme-dark #sketchzone-config-to-dark {
  display: none;
}
.theme-light #sketchzone-config-to-light {
  display: none;
}
.theme-light #sketchzone-config-to-dark {
  display: initial;
}

/* The rounded rect contains both tabs and the active sketch */
#sketchzone-container {
  border-radius: calc(var(--sketchzone-radius) + var(--sketchzone-small-padding));
  padding: var(--sketchzone-small-padding);
  display: grid;
  grid-template-rows: 1fr var(--sketchzone-sketch-height);
  background-color: var(--sketchzone-2-background);
  color: var(--sketchzone-2-text);
  margin: var(--sketchzone-outer-padding) var(--sketchzone-outer-padding)
    var(--sketchzone-outer-padding) 0;
}

/* Header */
#sketchzone-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--sketchzone-small-padding);
}
#sketchzone-logo {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-block: auto;
  padding-bottom: var(--sketchzone-tab-bottom-padding);
  padding-right: var(--sketchzone-large-padding);
}

#sketchzone-tabs {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--sketchzone-small-padding);
}
.sketchzone-current-tabs {
  display: flex;
  flex-direction: row;
  gap: var(--sketchzone-small-padding);
  overflow-x: scroll;
}
.sketchzone-tab {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  padding-bottom: var(--sketchzone-tab-bottom-padding);
}
.sketchzone-tab-add {
  position: sticky;
  right: 0;
}
.sketchzone-tab-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: var(--sketchzone-large-padding);
}
.sketchzone-tab-solo {
  padding-inline: var(--sketchzone-large-padding);
}
.sketchzone-tab-close {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sketchzone-tab.zone2 .sketchzone-tab-close {
  color: transparent;
}
.sketchzone-tab.zone2:hover .sketchzone-tab-close {
  color: var(--sketchzone-2-text);
}
.sketchzone-tab.zone2:hover .sketchzone-tab-close:hover {
  color: var(--sketchzone-2-text);
}

/* Currently Displayed Sketch */
#sketchzone-active-sketch {
  display: grid; /* display: none;  JS sets as 'grid' to avoid resize flash */
  grid-template-columns: var(--sketchzone-text-editor-panel-width) var(--sketchzone-fixed-padding) minmax(
      250px,
      1fr
    );
  grid-template-areas: 'editor divider viewer';
  --sketchzone-text-editor-height: var(--sketchzone-sketch-height);
}

/* Sketch Part 1: Editor */
#sketchzone-codemirror-root {
  background-color: var(--sketchzone-1-background);
  color: var(--sketchzone-1-text);
  box-shadow: var(--sketchzone-box-shadow);
  border-radius: var(--sketchzone-radius);
  padding-left: var(--sketchzone-small-padding);
  display: grid;
  grid-area: editor;
}
#sketchzone-codemirror-root .cm-editor {
  height: var(--sketchzone-text-editor-height);
}

/* Sketch Part 2: Divider */
#sketchzone-divider {
  cursor: ew-resize;
  grid-area: divider;
}

/* Sketch Part 3: Inspector */
#sketchzone-inspector-controller {
  background-color: var(--sketchzone-1-background);
  height: var(--sketchzone-button-size);
  box-shadow: var(--sketchzone-box-shadow);
  border-radius: var(--sketchzone-radius);
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
#sketchzone-inspector-contents {
  height: calc(var(--sketchzone-sketch-height) - var(--sketchzone-button-size));
  display: grid;
}

/* Sketch in Mobile view */
#sketchzone-inspector-view,
#sketchzone-inspector-inspect {
  display: none;
}
@media (max-width: 650px) {
  #sketchzone-inspector-view,
  #sketchzone-inspector-inspect {
    display: inherit;
  }

  #sketchzone-divider {
    display: none;
  }

  div#sketchzone-active-sketch {
    grid-template-columns: 1fr;
  }
  div#sketchzone-active-sketch.active-sketch-is-showing-editor {
    grid-template-areas: 'viewer' 'editor';
    gap: var(--sketchzone-small-padding);
    --sketchzone-text-editor-height: calc(
      var(--sketchzone-sketch-height) - var(--sketchzone-button-size) -
        var(--sketchzone-small-padding)
    );
  }
  div#sketchzone-active-sketch.active-sketch-is-showing-inspector {
    grid-template-areas: 'viewer';
  }

  div#sketchzone-active-sketch.active-sketch-is-showing-editor #sketchzone-inspector-contents {
    display: none;
  }
  div#sketchzone-active-sketch.active-sketch-is-showing-inspector #sketchzone-codemirror-root {
    display: none;
  }

  div#sketchzone-active-sketch.active-sketch-is-showing-inspector #sketchzone-inspector-load {
    display: none;
  }
  div#sketchzone-active-sketch.active-sketch-is-showing-editor #sketchzone-inspector-view {
    display: none;
  }
  div#sketchzone-active-sketch.active-sketch-is-showing-inspector #sketchzone-inspector-inspect {
    display: none;
  }
}

/* Radix UI Dialog Modals */
.sketchzone-dialog-overlay {
  background-color: var(--sketchzone-overlay);
  position: fixed;
  inset: 0;
  overflow-y: scroll;
}
.sketchzone-dialog-content {
  background-color: var(--sketchzone-1-background);
  border-radius: 6px;
  box-shadow: var(--sketchzone-box-shadow);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 2 * var(--sketchzone-outer-padding) - 2 * var(--sketchzone-large-padding));
  max-width: 450px;
  max-height: calc(
    100vh - 2 * var(--sketchzone-outer-padding) - 2 * var(--sketchzone-large-padding)
  );
  padding: var(--sketchzone-fixed-padding);
  display: flex;
  flex-direction: column;
}
.sketchzone-dialog-content:focus {
  outline: none;
}
.sketchzone-dialog-content p {
  padding-bottom: var(--sketchzone-fixed-padding);
}

.sketchzone-dialog-content.sketchzone-config-load {
  max-width: 800px;
}

/* Codemirror styling */
.cm-editor.cm-focused {
  outline: none;
}
.cm-editor .cm-scroller .cm-content {
  caret-color: var(--sketchzone-1-text);
}
.cm-editor .cm-content {
  font: var(--sketchzone-mono);
}
.cm-gutter.cm-lineNumbers {
  width: 100%;
}
.cm-editor .cm-gutters {
  background: transparent;
  width: 2rem;
  border: none;
  color: var(--sessionzone-1-text)
}

/* Some default inspector styling */
.sketchzone-rounded-inspector {
  margin-top: var(--sketchzone-small-padding);
  border-radius: var(--sketchzone-radius);
  box-shadow: var(--sketchzone-box-shadow);
  background-color: var(--sketchzone-1-background);
  color: var(--sketchzone-1-text);
  padding: var(--sketchzone-large-padding);
}
